#text-aiking{
  color: #97c93e !important;
}

#contenido{
  text-align: center;
  padding: 50px;
}

#header img{
  width: 80px;
}


#p{
  
}

#footer{
  background: #14357C;
}

#footer a{
  color: white !important;
}
